@charset "utf-8";

canvas#my-canvas {
	display: block; /* 画像の下の隙間を防ぐ */
	background-color: black;
	width: 100%;
	height: 240px;
}

textarea#text-box {
	box-sizing: border-box; /* width が全体の幅を示す */
	min-width: 100%;
	height: 72px;
	font-size: 10pt;
	line-height: 125%;
	resize: none; /* サイズグリップを消す */
	outline: none; /* フォーカス時の強調をキャンセル */
}

div#panel-box {
	display: flex;
	justify-content: space-between; /* 2つの子要素を左右両端に寄せる */
	align-items: start; /* 子要素の垂直位置揃え: stretch | center | start | end */
	margin-top: 4px;
}
